In [1]:
import sqlalchemy
from sqlalchemy import *
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [4]:
engine = create_engine("mysql://root:8653@13.209.99.210/test")
engine

Engine(mysql://root:***@13.209.99.210/test)

In [5]:
Base = declarative_base()
class User(Base):
    __tablename__ = "user2"
    
    user_id = Column(Integer, primary_key=True)
    name = Column(String(20))
    email= Column(String(30))
    age = Column(Integer)
    rdate = Column(DateTime)
    
    def __init__(self, name, email, age, rdate):
        self.name = name
        self.email = email
        self.age = age
        self.rdate = rdate
        
    def __repr__(self):
        return "<User {}, {}, {}, {}>".format(self.name, self.email, self.age, self.rdate)

In [6]:
Base.metadata.create_all(engine)

In [7]:
session_maker_obj = sessionmaker(bind = engine)
session = session_maker_obj()

In [19]:
user = User("jin", "jin@gmail.com", "27", "2016-03-21")
user

In [20]:
session.add(user)

In [21]:
users = [
    User("alice", "alice@gmail.com", "25", "2018-03-21"),
    User("andy", "andy@gmail.com", "33", "2015-03-21"),
]
users

[<User alice, alice@gmail.com, 25, 2018-03-21>,
 <User andy, andy@gmail.com, 33, 2015-03-21>]

In [22]:
session.add_all(users)

In [23]:
session.commit()

In [13]:
session.rollback()

In [18]:
results = session.query(User).all()
list(results)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:31:28>,
 <User peter, peter@daum.net, 30, 2018-07-13 02:31:28>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User jin, jinasd@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, aliceasd@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andyasd@gmail.com, 33, 2015-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>]

In [24]:
results = session.query(User).filter(or_(User.name == "jin", User.age == 33))
list(results)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:31:28>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User jin, jinasd@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andyasd@gmail.com, 33, 2015-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>]

In [25]:
results = session.query(User).order_by(User.age.asc())
list(results)

[<User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User alice, aliceasd@gmail.com, 25, 2018-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jinasd@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, pdj@gmail.com, 30, 2018-07-13 02:31:28>,
 <User peter, peter@daum.net, 30, 2018-07-13 02:31:28>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User andy, andyasd@gmail.com, 33, 2015-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>]

In [26]:
results = session.query(User).count()
results

14

In [30]:
jin = session.query(User).filter(User.name == "jin")
jin.age = 30

In [32]:
list(jin)

[<User jin, pdj@gmail.com, 30, 2018-07-13 02:31:28>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jinasd@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>,
 <User jin, jin@gmail.com, 27, 2016-03-21 00:00:00>]

In [33]:
jin.delete()

5

In [34]:
list(session.query(User))

[<User peter, peter@daum.net, 30, 2018-07-13 02:31:28>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User alice, aliceasd@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andyasd@gmail.com, 33, 2015-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>]

In [35]:
session.commit()

In [36]:
list(session.query(User))

[<User peter, peter@daum.net, 30, 2018-07-13 02:31:28>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User alice, aliceasd@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andyasd@gmail.com, 33, 2015-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>,
 <User alice, alice@gmail.com, 25, 2018-03-21 00:00:00>,
 <User andy, andy@gmail.com, 33, 2015-03-21 00:00:00>]