In [3]:
import gc
collected = gc.collect()
print(collected)

0

In [1]:
# train 파일 불러오기
train = pd.read_csv("./raw/train.csv")

In [2]:
# key 파일 불러오기
key = pd.read_csv("./raw/key.csv")

In [3]:
# key 파일 store_nbr로 정렬
key = key.sort_values("store_nbr").set_index(np.arange(len(key)))

In [4]:
# train, key 파일 merge
target = train.merge(key, how="left", on = "store_nbr")

In [5]:
target.to_csv("target.csv", sep=",", index=False)

---

In [6]:
target = pd.read_csv("target.csv")

In [2]:
# units이 하나도 없는 item 찾기 - 없음
item_count = target.groupby("item_nbr")["units"].sum()
item_count[item_count.values == 0]

Series([], Name: units, dtype: int64)

In [3]:
# units이 하나도 없는 store 찾기 - 없음
store_count = target.groupby("store_nbr")["units"].sum()
store_count[store_count == 0]

Series([], Name: units, dtype: int64)

In [4]:
# units이 하나도 없는 station 찾기 - 없음
station_count = target.groupby("station_nbr")["units"].sum()
any(station_count == 0)

False

In [5]:
# unit의 종류
a = np.sort(target["units"].unique())
b = np.bincount(target["units"])

a

array([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
         11,   12,   13,   14,   15,   16,   17,   18,   19,   20,   21,
         22,   23,   24,   25,   26,   27,   28,   29,   30,   31,   32,
         33,   34,   35,   36,   37,   38,   39,   40,   41,   42,   43,
         44,   45,   46,   47,   48,   49,   50,   51,   52,   53,   54,
         55,   56,   57,   58,   59,   60,   61,   62,   63,   64,   65,
         66,   67,   68,   69,   70,   71,   72,   73,   74,   75,   76,
         77,   78,   79,   80,   81,   82,   83,   84,   85,   86,   87,
         88,   89,   90,   91,   92,   93,   94,   95,   96,   97,   98,
         99,  100,  101,  102,  103,  104,  105,  106,  107,  108,  109,
        110,  111,  112,  113,  114,  115,  116,  117,  118,  119,  120,
        121,  122,  123,  124,  125,  126,  127,  128,  129,  130,  131,
        132,  133,  134,  135,  136,  137,  138,  139,  140,  141,  142,
        143,  144,  145,  146,  147,  148,  149,  150,  151,  152,  153,
        154,  155,  156,  157,  158,  159,  160,  161,  162,  163,  164,
        165,  166,  167,  168,  169,  170,  171,  172,  173,  174,  175,
        176,  177,  178,  179,  180,  181,  182,  183,  184,  185,  186,
        187,  188,  189,  190,  191,  192,  193,  194,  195,  196,  197,
        198,  199,  200,  201,  202,  203,  204,  205,  206,  207,  208,
        209,  210,  211,  212,  213,  214,  215,  216,  217,  218,  219,
        220,  221,  222,  223,  224,  225,  226,  227,  228,  229,  230,
        231,  232,  233,  234,  235,  236,  237,  238,  239,  240,  241,
        242,  243,  244,  245,  246,  247,  248,  249,  250,  251,  252,
        253,  254,  255,  256,  257,  258,  259,  260,  261,  262,  263,
        264,  265,  266,  267,  268,  269,  270,  271,  272,  273,  274,
        275,  276,  277,  278,  279,  280,  281,  282,  283,  284,  285,
        286,  287,  288,  289,  290,  291,  292,  293,  294,  295,  296,
        297,  298,  299,  300,  301,  302,  303,  304,  305,  306,  307,
        309,  310,  311,  312,  313,  315,  316,  317,  319,  320,  321,
        322,  323,  324,  325,  326,  327,  328,  329,  330,  331,  332,
        333,  334,  335,  336,  337,  338,  340,  342,  343,  344,  345,
        346,  347,  349,  350,  352,  353,  354,  356,  357,  358,  359,
        360,  361,  362,  364,  365,  367,  368,  369,  370,  371,  377,
        380,  383,  385,  388,  390,  392,  394,  395,  397,  398,  399,
        400,  410,  413,  416,  417,  418,  421,  424,  430,  433,  435,
        441,  448,  460,  469,  476,  503,  577, 3369, 5568], dtype=int64)

In [7]:
# black friday 인 날만 보기
black_fridays = ['2012-11-20', '2012-11-21', '2012-11-22', '2012-11-23', '2012-11-24', '2012-11-25', '2012-11-26', '2013-11-26',
                '2013-11-27', '2013-11-28', '2013-11-29', '2013-11-30', '2013-12-01', '2013-12-02']
target_black = target[target["date"].isin(black_fridays)]

In [8]:
len(target[~target["date"].isin(black_fridays)]) + len(target[target["date"].isin(black_fridays)])

4617600

In [9]:
target_not_black = target[~target["date"].isin(black_fridays)]

In [10]:
target[(target["units"] == 5568) | (target["units"] == 3369) | (target["units"] == 577) | (target["units"] == 503)]

               date  store_nbr  item_nbr  units  station_nbr
1488312  2012-10-28         16        25    577            2
1580533  2012-11-15         37         5   5568           13
3190033  2013-11-21         37         5   3369           13
3260078  2013-12-08         17         9    503           20

In [11]:
# 그래프를 잘 보기 위해 unit이 이상하게 높은 3369, 5568 제거
target_rm = target[target["units"] < 3000]
len(target_rm)

4617598

In [ ]:
# item 별로 그래프 그리기
%matplotlib inline
def make_item_graph():
    for i in range(1, 3):
        item = target_rm[target_rm["item_nbr"] == i]
        plt.figure(figsize=(16, 4))
        plt.xlabel("item"+str(i))
        plt.bar(item["date"], item["units"])
        
make_item_graph()

In [ ]:
item = target_rm[target_rm["item_nbr"] == 1]
plt.figure(figsize=(16, 4))
plt.xlabel("item"+str(1))
plt.bar(item["date"], item["units"])

In [42]:
# 20개 station에 대해서 item 별로 그래프 그리기
def make_station_graph():
    for i in range(1, 21):
        station = target_rm[target_rm["station_nbr"] == i]
        plt.figure(figsize=(16, 4))
        plt.xlabel("station"+str(i))
        plt.plot(pd.to_datetime(station["date"]), station["units"])

In [ ]:
target.pivot_table(columns="store_nbr", index="item_nbr", values = "units", aggfunc=sum, margins=True, margins_name="All")

In [ ]:
target_pivot = target.pivot_table(values="units", columns="station_nbr", index="item_nbr", aggfunc=sum, margins=True, margins_name="All")

In [ ]:
any(target)