In [1]:
wthr = pd.read_csv("weather_rem.csv")

In [3]:
rain_text = ['FC', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS', 'PL', 'IC', 'FG', 'BR', 'UP', 'FG+']
other_text = ['HZ', 'FU', 'VA', 'DU', 'DS', 'PO', 'SA', 'SS', 'PY', 'SQ', 'DR', 'SH', 'FZ', 'MI', 'PR', 'BC', 'BL', 'VC' ]

In [4]:
wthr.head()

,station_nbr,date,tmax,tmin,tavg,tavg_r,depart,dewpoint,wetbulb,heat,...,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2012-01-01,52.0,31.0,42.0,42.0,NaN,36.0,40.0,23.0,...,NaN,NaN,RA FZFG BR,NaN,0.05,29.78,29.92,3.6,20.0,4.6
1,2,2012-01-01,48.0,33.0,41.0,41.0,16.0,37.0,39.0,24.0,...,716.0,1626.0,RA,0.0,0.07,28.82,29.91,9.1,23.0,11.3
2,3,2012-01-01,55.0,34.0,45.0,45.0,9.0,24.0,36.0,20.0,...,735.0,1720.0,,0.0,0.00,29.77,30.47,9.9,31.0,10.0
3,4,2012-01-01,63.0,47.0,55.0,55.0,4.0,28.0,43.0,10.0,...,728.0,1742.0,,0.0,0.00,29.79,30.48,8.0,35.0,8.2
4,6,2012-01-01,63.0,34.0,49.0,49.0,0.0,31.0,43.0,16.0,...,727.0,1742.0,,0.0,0.00,29.95,30.47,14.0,36.0,13.8

In [5]:
# codesum변수 만들기 nothing, rain, other
wthr['codesum'].replace("+", "")
a = []
for i in range(len(wthr['codesum'])):
    a.append(wthr['codesum'].values[i].split(" "))
    for i_text in a[i]:
        if len(i_text) == 4:
            a[i].append(i_text[:2])
            a[i].append(i_text[2:])

In [6]:
wthr["nothing"] = 1
wthr["rain"] = 0
wthr["other"] = 0
b = -1
for ls in a:
    b += 1
    for text in ls:
        if text in rain_text:
            wthr.loc[b, 'rain'] = 1
            wthr.loc[b, 'nothing'] = 0
        elif text in other_text:
            wthr.loc[b,'other'] = 1
            wthr.loc[b, 'nothing'] = 0

In [32]:
wthr[['codesum', 'nothing', 'rain', 'other']].tail(100)

       codesum  nothing  rain  other
20417                 1     0      0
20418                 1     0      0
20419     VCTS        0     1      1
20420                 1     0      0
20421                 1     0      0
20422  BCFG BR        0     1      1
20423                 1     0      0
20424       HZ        0     0      1
20425                 1     0      0
20426       BR        0     1      0
20427       BR        0     1      0
20428    FG BR        0     1      0
20429       RA        0     1      0
20430                 1     0      0
20431                 1     0      0
20432                 1     0      0
20433       TS        0     1      0
20434                 1     0      0
20435                 1     0      0
20436                 1     0      0
20437       BR        0     1      0
20438    FG BR        0     1      0
20439                 1     0      0
20440                 1     0      0
20441                 1     0      0
20442     BCFG        0     1      1
20443                 1     0      0
20444       BR        0     1      0
20445       RA        0     1      0
20446                 1     0      0
...        ...      ...   ...    ...
20487    TS BR        0     1      0
20488  TSRA BR        0     1      0
20489                 1     0      0
20490                 1     0      0
20491    FG BR        0     1      0
20492                 1     0      0
20493                 1     0      0
20494       RA        0     1      0
20495       RA        0     1      0
20496                 1     0      0
20497                 1     0      0
20498                 1     0      0
20499                 1     0      0
20500    RA BR        0     1      0
20501                 1     0      0
20502    RA BR        0     1      0
20503                 1     0      0
20504       RA        0     1      0
20505                 1     0      0
20506                 1     0      0
20507                 1     0      0
20508       BR        0     1      0
20509                 1     0      0
20510                 1     0      0
20511                 1     0      0
20512                 1     0      0
20513       RA        0     1      0
20514                 1     0      0
20515    RA SN        0     1      0
20516                 1     0      0

[100 rows x 4 columns]

In [129]:
wthr

,station_nbr,date,tmax,tmin,tavg,tavg_r,depart,dewpoint,wetbulb,heat,...,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,rain,nothing,other
0,1,2012-01-01,52.0,31.0,42.0,42.0,NaN,36.0,40.0,23.0,...,NaN,0.050,29.78,29.92,3.6,20.0,4.6,1.0,1.0,1.0
1,2,2012-01-01,48.0,33.0,41.0,41.0,16.0,37.0,39.0,24.0,...,0.00,0.070,28.82,29.91,9.1,23.0,11.3,1.0,NaN,NaN
2,3,2012-01-01,55.0,34.0,45.0,45.0,9.0,24.0,36.0,20.0,...,0.00,0.000,29.77,30.47,9.9,31.0,10.0,NaN,1.0,NaN
3,4,2012-01-01,63.0,47.0,55.0,55.0,4.0,28.0,43.0,10.0,...,0.00,0.000,29.79,30.48,8.0,35.0,8.2,NaN,1.0,NaN
4,6,2012-01-01,63.0,34.0,49.0,49.0,0.0,31.0,43.0,16.0,...,0.00,0.000,29.95,30.47,14.0,36.0,13.8,NaN,1.0,NaN
5,7,2012-01-01,50.0,33.0,42.0,42.0,NaN,26.0,35.0,23.0,...,0.00,0.000,29.15,30.54,10.3,32.0,10.2,NaN,1.0,NaN
6,8,2012-01-01,66.0,45.0,56.0,NaN,NaN,34.0,46.0,9.0,...,NaN,0.000,30.05,NaN,11.0,36.0,10.9,1.0,NaN,NaN
7,9,2012-01-01,34.0,19.0,27.0,27.0,NaN,17.0,23.0,38.0,...,NaN,0.005,29.34,30.09,22.8,30.0,22.5,1.0,NaN,NaN
8,10,2012-01-01,73.0,53.0,63.0,63.0,NaN,55.0,58.0,2.0,...,NaN,0.000,30.16,30.19,5.1,24.0,5.5,1.0,NaN,NaN
9,11,2012-01-01,72.0,48.0,60.0,60.0,7.0,54.0,56.0,5.0,...,0.00,0.000,30.15,30.18,4.6,23.0,4.8,1.0,NaN,NaN
10,12,2012-01-01,72.0,48.0,60.0,60.0,NaN,54.0,57.0,5.0,...,0.00,0.000,30.15,30.19,4.4,25.0,4.8,1.0,NaN,NaN
11,13,2012-01-01,38.0,18.0,28.0,28.0,NaN,12.0,21.0,37.0,...,NaN,0.000,24.60,30.59,2.5,16.0,6.1,NaN,1.0,NaN
12,14,2012-01-01,50.0,34.0,42.0,42.0,5.0,25.0,35.0,23.0,...,0.00,0.000,29.13,30.52,11.4,32.0,11.3,NaN,1.0,NaN
13,15,2012-01-01,48.0,26.0,37.0,37.0,16.0,35.0,38.0,28.0,...,0.00,0.090,29.53,29.89,2.5,17.0,3.8,1.0,1.0,1.0
14,16,2012-01-01,50.0,30.0,40.0,40.0,NaN,37.0,40.0,25.0,...,NaN,0.005,29.80,29.89,4.2,21.0,6.8,1.0,1.0,1.0
15,17,2012-01-01,56.0,38.0,47.0,47.0,NaN,23.0,37.0,18.0,...,0.00,0.000,29.83,30.50,5.4,32.0,5.8,NaN,1.0,NaN
16,18,2012-01-01,59.0,40.0,50.0,50.0,4.0,28.0,40.0,15.0,...,0.00,0.000,29.98,30.49,9.0,33.0,8.9,NaN,1.0,NaN
17,19,2012-01-01,38.0,25.0,32.0,32.0,10.0,26.0,30.0,33.0,...,0.50,0.120,29.06,29.79,14.6,29.0,15.6,1.0,NaN,NaN
18,20,2012-01-01,59.0,41.0,50.0,50.0,NaN,28.0,40.0,15.0,...,0.00,0.000,29.78,30.48,10.9,33.0,10.8,NaN,1.0,NaN
19,1,2012-01-02,50.0,31.0,41.0,41.0,NaN,26.0,35.0,24.0,...,NaN,0.010,29.44,29.62,9.8,24.0,10.3,NaN,1.0,NaN
20,2,2012-01-02,46.0,28.0,37.0,37.0,12.0,24.0,32.0,28.0,...,0.05,0.010,28.51,29.62,12.7,26.0,13.3,NaN,1.0,NaN
21,3,2012-01-02,45.0,24.0,35.0,35.0,-1.0,11.0,28.0,30.0,...,0.00,0.000,29.89,30.63,7.7,32.0,8.2,NaN,1.0,NaN
22,4,2012-01-02,60.0,37.0,49.0,49.0,-2.0,26.0,39.0,16.0,...,0.00,0.000,29.93,30.64,3.7,36.0,4.8,NaN,1.0,NaN
23,6,2012-01-02,60.0,30.0,45.0,45.0,-4.0,27.0,38.0,20.0,...,0.00,0.000,30.09,30.63,9.0,1.0,9.3,NaN,1.0,NaN
24,7,2012-01-02,44.0,26.0,35.0,35.0,NaN,17.0,29.0,30.0,...,0.00,0.000,29.23,30.66,5.7,34.0,6.9,NaN,1.0,NaN
25,8,2012-01-02,59.0,36.0,48.0,NaN,NaN,29.0,40.0,17.0,...,NaN,0.000,30.25,NaN,6.2,36.0,6.7,NaN,1.0,NaN
26,9,2012-01-02,21.0,11.0,16.0,16.0,NaN,8.0,15.0,49.0,...,NaN,0.005,29.67,30.44,14.4,32.0,14.7,1.0,NaN,NaN
27,10,2012-01-02,65.0,45.0,55.0,55.0,NaN,33.0,46.0,10.0,...,NaN,0.000,30.11,30.14,10.2,30.0,11.2,NaN,1.0,NaN
28,11,2012-01-02,63.0,40.0,52.0,52.0,-1.0,31.0,44.0,13.0,...,0.00,0.000,30.10,30.14,10.2,29.0,11.1,NaN,1.0,NaN
29,12,2012-01-02,65.0,47.0,56.0,56.0,NaN,33.0,46.0,9.0,...,0.00,0.000,30.09,30.14,11.7,30.0,12.7,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20487,11,2014-10-30,81.0,59.0,70.0,70.0,4.0,63.0,65.0,0.0,...,0.00,0.000,29.91,29.94,1.6,36.0,3.4,1.0,NaN,NaN
20488,12,2014-10-30,81.0,61.0,71.0,71.0,NaN,63.0,66.0,0.0,...,0.00,0.090,29.90,29.94,1.5,1.0,3.3,1.0,1.0,NaN
20489,13,2014-10-30,61.0,32.0,47.0,47.0,NaN,26.0,38.0,18.0,...,NaN,0.000,24.51,30.31,4.8,13.0,6.7,NaN,1.0,NaN
20490,14,2014-10-30,77.0,45.0,61.0,61.0,5.0,39.0,50.0,4.0,...,0.00,0.000,28.76,30.13,4.4,34.0,10.4,NaN,1.0,NaN
20491,15,2014-10-30,56.0,30.0,43.0,43.0,0.0,36.0,39.0,22.0,...,0.00,0.005,29.54,29.94,1.7,31.0,2.7,1.0,NaN,NaN
20492,16,2014-10-30,57.0,34.0,46.0,46.0,NaN,39.0,43.0,19.0,...,NaN,0.000,29.79,29.91,4.0,30.0,4.6,NaN,1.0,NaN
20493,17,2014-10-30,77.0,43.0,60.0,60.0,NaN,41.0,50.0,5.0,...,0.00,0.000,29.45,30.14,2.6,32.0,5.1,NaN,1.0,NaN
20494,18,2014-10-30,79.0,56.0,68.0,68.0,5.0,51.0,58.0,0.0,...,0.00,0.005,29.60,30.11,2.9,14.0,5.6,1.0,NaN,NaN
20495,19,2014-10-30,51.0,32.0,42.0,42.0,-4.0,33.0,40.0,23.0,...,0.00,0.005,29.31,30.08,5.5,27.0,6.0,1.0,NaN,NaN
20496,20,2014-10-30,80.0,52.0,66.0,66.0,NaN,50.0,57.0,0.0,...,0.00,0.000,29.40,30.11,1.6,14.0,4.9,NaN,1.0,NaN
20497,1,2014-10-31,53.0,40.0,47.0,47.0,NaN,36.0,41.0,18.0,...,NaN,0.000,29.87,30.03,5.4,4.0,5.8,NaN,1.0,NaN
20498,2,2014-10-31,49.0,40.0,45.0,45.0,0.0,35.0,40.0,20.0,...,0.00,0.000,28.90,30.00,6.2,5.0,7.0,NaN,1.0,NaN
20499,3,2014-10-31,55.0,33.0,44.0,44.0,-12.0,32.0,41.0,21.0,...,0.00,0.000,29.65,30.36,11.1,35.0,11.5,NaN,1.0,NaN
20500,4,2014-10-31,76.0,56.0,66.0,66.0,-1.0,47.0,56.0,0.0,...,0.00,0.300,29.55,30.23,6.0,1.0,6.5,1.0,NaN,NaN
20501,5,2014-10-31,NaN,NaN,NaN,NaN,NaN,37.0,NaN,NaN,...,NaN,NaN,NaN,30.01,10.8,5.0,NaN,NaN,1.0,NaN
20502,6,2014-10-31,76.0,51.0,64.0,64.0,0.0,47.0,55.0,1.0,...,0.00,0.170,29.72,30.22,11.3,36.0,11.7,1.0,NaN,NaN
20503,7,2014-10-31,58.0,38.0,48.0,48.0,NaN,32.0,41.0,17.0,...,0.00,0.000,29.00,30.37,11.0,1.0,11.6,NaN,1.0,NaN
20504,8,2014-10-31,78.0,55.0,67.0,67.0,NaN,NaN,NaN,0.0,...,NaN,0.005,29.82,NaN,NaN,NaN,5.1,1.0,NaN,NaN
20505,9,2014-10-31,39.0,25.0,32.0,32.0,NaN,18.0,27.0,33.0,...,NaN,0.000,29.74,30.52,8.3,36.0,8.7,NaN,1.0,NaN
20506,10,2014-10-31,77.0,63.0,70.0,70.0,NaN,51.0,59.0,0.0,...,NaN,0.000,29.82,29.84,6.9,31.0,7.8,NaN,1.0,NaN
20507,11,2014-10-31,75.0,50.0,63.0,63.0,-2.0,53.0,57.0,2.0,...,0.00,0.000,29.82,29.85,5.3,30.0,6.1,NaN,1.0,NaN
20508,12,2014-10-31,75.0,60.0,68.0,68.0,NaN,53.0,59.0,0.0,...,0.00,0.000,29.80,29.85,7.0,32.0,7.5,1.0,NaN,NaN
20509,13,2014-10-31,58.0,35.0,47.0,47.0,NaN,28.0,37.0,18.0,...,NaN,0.000,24.36,30.18,6.1,17.0,7.2,NaN,1.0,NaN
20510,14,2014-10-31,60.0,38.0,49.0,49.0,-7.0,31.0,42.0,16.0,...,0.00,0.000,28.98,30.36,11.9,1.0,12.5,NaN,1.0,NaN
20511,15,2014-10-31,50.0,32.0,41.0,41.0,-2.0,34.0,38.0,24.0,...,0.00,0.000,29.65,30.03,0.3,3.0,0.6,NaN,1.0,NaN
20512,16,2014-10-31,53.0,34.0,44.0,44.0,NaN,35.0,41.0,21.0,...,NaN,0.000,29.90,29.99,4.5,3.0,5.3,NaN,1.0,NaN
20513,17,2014-10-31,59.0,34.0,47.0,47.0,NaN,32.0,41.0,18.0,...,0.00,0.000,29.72,30.39,9.2,1.0,9.3,1.0,NaN,NaN
20514,18,2014-10-31,67.0,49.0,58.0,58.0,-4.0,40.0,50.0,7.0,...,0.00,0.000,29.78,30.28,10.6,36.0,11.2,NaN,1.0,NaN
20515,19,2014-10-31,45.0,33.0,39.0,39.0,-6.0,24.0,32.0,26.0,...,0.10,0.020,29.51,30.24,20.4,34.0,20.9,1.0,NaN,NaN
20516,20,2014-10-31,68.0,50.0,59.0,59.0,NaN,39.0,50.0,6.0,...,0.00,0.000,29.57,30.27,10.5,36.0,11.2,1.0,1.0,1.0

In [ ]:
for ls in a:
    for text in ls:
        if text in rain_text:
            wthr.loc[i, 'rain'] = 1
            wthr.loc[i, 'nothing'] = 0
            wthr.loc[i,'other'] = 0
        elif text in other_text:
            wthr.loc[i,'rain'] = 0
            wthr.loc[i,'nothing'] = 0
            wthr.loc[i,'other'] = 1
        else:
            wthr.loc[i,'rain'] = 0
            wthr.loc[i,'nothing'] = 1
            wthr.loc[i,'other'] = 0

In [74]:
wthr[['codesum', 'rain', 'nothing', 'other']]

              codesum  rain  nothing  other
0          RA FZFG BR     1        0      0
1                  RA     1        0      0
2                         0        1      0
3                         0        1      0
4                         0        1      0
5                         0        1      0
6               RA BR     1        0      0
7                  UP     1        0      0
8           FG+ FG BR     1        0      0
9           FG+ FG BR     1        0      0
10          FG+ FG BR     1        0      0
11                        0        1      0
12                        0        1      0
13     RA FG+ FZFG BR     1        0      0
14         RA MIFG BR     1        0      0
15                        0        1      0
16                        0        1      0
17           RA SN BR     1        0      0
18                        0        1      0
19                        0        1      0
20                        0        1      0
21                        0        1      0
22                        0        1      0
23                        0        1      0
24                        0        1      0
25                        0        1      0
26              SN UP     1        0      0
27                        0        1      0
28                        0        1      0
29                        0        1      0
...               ...   ...      ...    ...
20487           TS BR     1        0      0
20488         TSRA BR     1        0      0
20489                     0        1      0
20490                     0        1      0
20491           FG BR     1        0      0
20492                     0        1      0
20493                     0        1      0
20494              RA     1        0      0
20495              RA     1        0      0
20496                     0        1      0
20497                     0        1      0
20498                     0        1      0
20499                     0        1      0
20500           RA BR     1        0      0
20501                     0        1      0
20502           RA BR     1        0      0
20503                     0        1      0
20504              RA     1        0      0
20505                     0        1      0
20506                     0        1      0
20507                     0        1      0
20508              BR     1        0      0
20509                     0        1      0
20510                     0        1      0
20511                     0        1      0
20512                     0        1      0
20513              RA     1        0      0
20514                     0        1      0
20515           RA SN     1        0      0
20516                     0        1      0

[20517 rows x 4 columns]