In [53]:
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [68]:
wthr = pd.read_csv("weather_adj.csv")

In [69]:
key_train = pd.read_csv("key_train.csv")

In [70]:
# station으로 분리
w_stn_1 = wthr[wthr["station_nbr"] == 1]
w_stn_2 = wthr[wthr["station_nbr"] == 2]
w_stn_3 = wthr[wthr["station_nbr"] == 3]
w_stn_4 = wthr[wthr["station_nbr"] == 4]
w_stn_5 = wthr[wthr["station_nbr"] == 5]
w_stn_6 = wthr[wthr["station_nbr"] == 6]
w_stn_7 = wthr[wthr["station_nbr"] == 7]
w_stn_8 = wthr[wthr["station_nbr"] == 8]
w_stn_9 = wthr[wthr["station_nbr"] == 9]
w_stn_10 = wthr[wthr["station_nbr"] == 10]
w_stn_11 = wthr[wthr["station_nbr"] == 11]
w_stn_12 = wthr[wthr["station_nbr"] == 12]
w_stn_13 = wthr[wthr["station_nbr"] == 13]
w_stn_14 = wthr[wthr["station_nbr"] == 14]
w_stn_15 = wthr[wthr["station_nbr"] == 15]
w_stn_16 = wthr[wthr["station_nbr"] == 16]
w_stn_17 = wthr[wthr["station_nbr"] == 17]
w_stn_18 = wthr[wthr["station_nbr"] == 18]
w_stn_19 = wthr[wthr["station_nbr"] == 19]
w_stn_20 = wthr[wthr["station_nbr"] == 20]

In [71]:
# station으로 merge - cross validation 할 때 쓰려고
stn_1 = w_stn_1.merge(key_train, on=("date", "station_nbr"))
stn_2 = w_stn_2.merge(key_train, on=("date", "station_nbr"))
stn_3 = w_stn_3.merge(key_train, on=("date", "station_nbr"))
stn_4 = w_stn_4.merge(key_train, on=("date", "station_nbr"))
stn_5 = w_stn_5.merge(key_train, on=("date", "station_nbr"))
stn_6 = w_stn_6.merge(key_train, on=("date", "station_nbr"))
stn_7 = w_stn_7.merge(key_train, on=("date", "station_nbr"))
stn_8 = w_stn_8.merge(key_train, on=("date", "station_nbr"))
stn_9 = w_stn_9.merge(key_train, on=("date", "station_nbr"))
stn_10 = w_stn_10.merge(key_train, on=("date", "station_nbr"))
stn_11 = w_stn_11.merge(key_train, on=("date", "station_nbr"))
stn_12 = w_stn_12.merge(key_train, on=("date", "station_nbr"))
stn_13 = w_stn_13.merge(key_train, on=("date", "station_nbr"))
stn_14 = w_stn_14.merge(key_train, on=("date", "station_nbr"))
stn_15 = w_stn_15.merge(key_train, on=("date", "station_nbr"))
stn_16 = w_stn_16.merge(key_train, on=("date", "station_nbr"))
stn_17 = w_stn_17.merge(key_train, on=("date", "station_nbr"))
stn_18 = w_stn_18.merge(key_train, on=("date", "station_nbr"))
stn_19 = w_stn_19.merge(key_train, on=("date", "station_nbr"))
stn_20 = w_stn_20.merge(key_train, on=("date", "station_nbr"))

In [72]:
# station별로 파일만들기 - cross validation 할 때 쓰려고
obj_stn = [stn_1, stn_2, stn_3, stn_4, stn_5, stn_6, stn_7, stn_8, stn_9,
           stn_10, stn_11, stn_12,stn_13, stn_14, stn_15, stn_16, stn_17,
           stn_18, stn_19, stn_20]
obj_name = ["station_"+str(i) for i in range(1, 21)]
for i in range(len(obj_stn)):
    obj_stn[i].to_csv("raw_"+obj_name[i]+".csv", sep=",", index=False)

In [73]:
# sunset, sunrise 채우기
ls_sun1 = [w_stn_2, w_stn_3, w_stn_4, w_stn_5, w_stn_6, w_stn_10, w_stn_11, w_stn_14, w_stn_15, w_stn_18, w_stn_19]
def fill_sun(ls_sun1):
    ls_sun1.loc[(ls_sun1["date_y"] == 2014) & (ls_sun1["date_m"] == 1), "sunrise"] = ls_sun1.loc[(ls_sun1["date_y"] == 2013)\
                                                                                             & (ls_sun1["date_m"] == 1), "sunrise"].values
    ls_sun1.loc[(ls_sun1["date_y"] == 2014) & (ls_sun1["date_m"] == 1), "sunset"] = ls_sun1.loc[(ls_sun1["date_y"] == 2013)\
                                                                                             & (ls_sun1["date_m"] == 1), "sunset"].values
    
for i in range(len(ls_sun1)):
    fill_sun(ls_sun1[i])

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [74]:
w_stn_1_fill = w_stn_1.copy()
w_stn_2_fill = w_stn_2.copy()
w_stn_3_fill = w_stn_3.copy()
w_stn_4_fill = w_stn_4.copy()
w_stn_5_fill = w_stn_5.copy()
w_stn_6_fill = w_stn_6.copy()
w_stn_7_fill = w_stn_7.copy()
w_stn_8_fill = w_stn_8.copy()
w_stn_9_fill = w_stn_9.copy()
w_stn_10_fill = w_stn_10.copy()
w_stn_11_fill = w_stn_11.copy()
w_stn_12_fill = w_stn_12.copy()
w_stn_13_fill = w_stn_13.copy()
w_stn_14_fill = w_stn_14.copy()
w_stn_15_fill = w_stn_15.copy()
w_stn_16_fill = w_stn_16.copy()
w_stn_17_fill = w_stn_17.copy()
w_stn_18_fill = w_stn_18.copy()
w_stn_19_fill = w_stn_19.copy()
w_stn_20_fill = w_stn_20.copy()

In [75]:
w_stn_1.describe()

       station_nbr         tmax         tmin         tavg  depart     dewpoint      wetbulb         heat         cool  sunrise  sunset  snowfall  preciptotal  stnpressure     sealevel  resultspeed    resultdir     avgspeed      nothing         rain        other       date_y       date_m       date_d        week7      weekend  relative_humility    windchill  daytime      holiday
count       1035.0  1033.000000  1033.000000  1033.000000     0.0  1029.000000  1024.000000  1029.000000  1029.000000      0.0     0.0       0.0  1030.000000  1031.000000  1027.000000  1031.000000  1031.000000  1032.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000        1029.000000  1031.000000      0.0  1035.000000
mean           1.0    61.503388    42.588577    52.545983     NaN    38.903790    46.100586    15.006803     2.310010      NaN     NaN       NaN     0.096723    29.848089    30.013398     5.355674    20.351115     6.572190     0.492754     0.500483     0.083092  2012.940097     6.228019    15.731401     2.998068     0.285024          61.143192    50.651741      NaN     0.048309
std            0.0    19.092143    17.049578    17.778244     NaN    19.335294    16.326179    15.052404     4.500552      NaN     NaN       NaN     0.265852     0.226443     0.227042     3.404079     9.694704     3.261478     0.500189     0.500241     0.276154     0.802731     3.322770     8.805294     2.000966     0.451644          14.388562    21.587710      NaN     0.214522
min            1.0    14.000000    -4.000000     8.000000     NaN   -12.000000     4.000000     0.000000     0.000000      NaN     NaN       NaN     0.000000    28.950000    29.200000     0.200000     1.000000     0.600000     0.000000     0.000000     0.000000  2012.000000     1.000000     1.000000     0.000000     0.000000          19.604114    -8.141708      NaN     0.000000
25%            1.0    45.000000    30.000000    38.000000     NaN    24.000000    33.000000     0.000000     0.000000      NaN     NaN       NaN     0.000000    29.700000    29.860000     2.800000    12.000000     4.200000     0.000000     0.000000     0.000000  2012.000000     3.000000     8.000000     1.000000     0.000000          51.693924    33.810644      NaN     0.000000
50%            1.0    63.000000    43.000000    54.000000     NaN    41.000000    48.000000    11.000000     0.000000      NaN     NaN       NaN     0.005000    29.850000    30.020000     4.700000    22.000000     6.100000     0.000000     1.000000     0.000000  2013.000000     6.000000    16.000000     3.000000     0.000000          60.884173    52.616420      NaN     0.000000
75%            1.0    78.000000    57.000000    68.000000     NaN    55.000000    60.000000    27.000000     2.000000      NaN     NaN       NaN     0.030000    30.000000    30.160000     7.300000    28.000000     8.200000     1.000000     1.000000     0.000000  2014.000000     9.000000    23.000000     5.000000     1.000000          70.477825    68.861335      NaN     0.000000
max            1.0    97.000000    77.000000    86.000000     NaN    72.000000    76.000000    57.000000    21.000000      NaN     NaN       NaN     3.450000    30.590000    30.770000    19.300000    36.000000    19.800000     1.000000     1.000000     1.000000  2014.000000    12.000000    31.000000     6.000000     1.000000         100.000000    90.656121      NaN     1.000000

In [76]:
# interpolation 함수
wthr_interP = ["tmax", "tmin", "tavg", "dewpoint", "wetbulb", "sunset", "sunrise", "stnpressure", "sealevel"]
def fill_interP(obj, obj_fill):    
    a = obj[wthr_interP].interpolate(limit_direction="both", limit_area='inside')
    obj_fill.update(a)

In [77]:
# median 함수
wthr_mean = ["depart", "snowfall", "preciptotal", "resultspeed", "resultdir", "avgspeed"]
def fill_median(obj, obj_fill):
    for i in wthr_mean:
        b = obj[i].replace(np.nan, obj[i].median())
        obj_fill.update(b)

In [79]:
# interpolation과 median을 기존 함수에 합치기(station5 제외)
obj = [w_stn_1, w_stn_2, w_stn_3, w_stn_4, w_stn_5, w_stn_6, w_stn_7, w_stn_8, w_stn_9, w_stn_10, w_stn_11, w_stn_12,
       w_stn_13, w_stn_14, w_stn_15, w_stn_16, w_stn_17, w_stn_18, w_stn_19, w_stn_20]
obj_fill = [w_stn_1_fill, w_stn_2_fill, w_stn_3_fill, w_stn_4_fill, w_stn_5_fill, w_stn_6_fill, w_stn_7_fill, w_stn_8_fill, w_stn_9_fill,
           w_stn_10_fill, w_stn_11_fill, w_stn_12_fill,w_stn_13_fill, w_stn_14_fill, w_stn_15_fill, w_stn_16_fill, w_stn_17_fill,
           w_stn_18_fill, w_stn_19_fill, w_stn_20_fill]
for i in range(len(obj_fill)):
    fill_interP(obj[i], obj_fill[i])
    fill_median(obj[i], obj_fill[i])

In [80]:
# heat, cool 다시 채우기
def fill_avg(obj_fill):
    obj_fill["tavg"] = round((obj_fill["tmin"] + obj_fill["tmax"])/2+0.5, 0)

def fill_heat_cool(obj_fill):  
    ls_c = []
    ls_h = []
    for temp in obj_fill["tavg"]:
        if temp > 65:
            c = temp - 65
            ls_c.append(c)
            ls_h.append(0)
        elif temp < 65:
            h = 65 - temp
            ls_c.append(0)
            ls_h.append(h)
        else:
            ls_c.append(0)
            ls_h.append(0)
    obj_fill["heat"] = ls_h
    obj_fill["cool"] = ls_c

In [81]:
ls_hc = [w_stn_1_fill, w_stn_2_fill, w_stn_3_fill, w_stn_4_fill, w_stn_6_fill, w_stn_7_fill, w_stn_8_fill, w_stn_9_fill,
           w_stn_10_fill, w_stn_11_fill, w_stn_12_fill,w_stn_13_fill, w_stn_14_fill, w_stn_15_fill, w_stn_16_fill, w_stn_17_fill,
           w_stn_18_fill, w_stn_19_fill, w_stn_20_fill]
for i in range(len(ls_hc)):
    fill_heat_cool(ls_hc[i])
    fill_avg(ls_hc[i])

In [82]:
# sunset, sunrise로 낮시간 계산
def fill_daytime(obj_fill):    
    df = obj_fill.copy()
    a = df["sunset"] - df["sunrise"]
    obj_fill["daytime"].update(a)

In [83]:
ls_sun2 = [w_stn_2_fill, w_stn_3_fill, w_stn_4_fill, w_stn_5_fill, w_stn_6_fill, w_stn_10_fill, w_stn_11_fill, w_stn_14_fill, w_stn_15_fill, w_stn_18_fill, w_stn_19_fill]
for i in range(len(ls_sun2)):
    fill_daytime(ls_sun2[i])

In [84]:
# 상대습도 계산
ls_rh = [w_stn_1_fill, w_stn_2_fill, w_stn_3_fill, w_stn_4_fill, w_stn_6_fill, w_stn_7_fill, w_stn_8_fill, w_stn_9_fill,
           w_stn_10_fill, w_stn_11_fill, w_stn_12_fill,w_stn_13_fill, w_stn_14_fill, w_stn_15_fill, w_stn_16_fill, w_stn_17_fill,
           w_stn_18_fill, w_stn_19_fill, w_stn_20_fill]
def fill_relative_humility(obj_fill):    
    b = 100*(np.exp((17.625*((obj_fill['dewpoint']-32)/1.8))/(243.04+((obj_fill['dewpoint']-32)/1.8)))/np.exp((17.625*((obj_fill['tavg']-32)/1.8))/(243.04+((obj_fill['tavg']-32)/1.8))))
    obj_fill["relative_humility"].update(b)
    
for i in range(len(ls_rh)):
    fill_relative_humility(ls_rh[i])

In [85]:
# 체감온도 계산
ls_wc = [w_stn_1_fill, w_stn_2_fill, w_stn_3_fill, w_stn_4_fill, w_stn_6_fill, w_stn_7_fill, w_stn_8_fill, w_stn_9_fill,
           w_stn_10_fill, w_stn_11_fill, w_stn_12_fill,w_stn_13_fill, w_stn_14_fill, w_stn_15_fill, w_stn_16_fill, w_stn_17_fill,
           w_stn_18_fill, w_stn_19_fill, w_stn_20_fill]
def fill_windchill(obj_fill):    
    c = 35.74 + 0.6215*obj_fill["tavg"] - 35.75*(obj_fill["avgspeed"]**0.16) + 0.4275*obj_fill["tavg"]*(obj_fill["avgspeed"]**0.16)
    obj_fill["windchill"].update(c)
    
for i in range(len(ls_wc)):
    fill_windchill(ls_wc[i])

In [86]:
w_stn_1_fill.describe()

       station_nbr         tmax         tmin         tavg  depart     dewpoint      wetbulb         heat         cool  sunrise  sunset  snowfall  preciptotal  stnpressure     sealevel  resultspeed    resultdir     avgspeed      nothing         rain        other       date_y       date_m       date_d        week7      weekend  relative_humility    windchill  daytime      holiday
count       1035.0  1035.000000  1035.000000  1035.000000     0.0  1035.000000  1035.000000  1035.000000  1035.000000      0.0     0.0       0.0  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000  1035.000000        1035.000000  1035.000000      0.0  1035.000000
mean           1.0    61.485990    42.578744    52.532367     NaN    38.969565    46.168599    14.853140     2.385507      NaN     NaN       NaN     0.096280    29.847792    30.012826     5.353140    20.357488     6.570821     0.492754     0.500483     0.083092  2012.940097     6.228019    15.731401     2.998068     0.285024          61.166955    50.560902      NaN     0.048309
std            0.0    19.079596    17.044141    17.768653     NaN    19.330520    16.352446    14.955889     4.594924      NaN     NaN       NaN     0.265285     0.226164     0.226762     3.397732     9.676475     3.256842     0.500189     0.500241     0.276154     0.802731     3.322770     8.805294     2.000966     0.451644          14.368667    21.620793      NaN     0.214522
min            1.0    14.000000    -4.000000     8.000000     NaN   -12.000000     4.000000     0.000000     0.000000      NaN     NaN       NaN     0.000000    28.950000    29.200000     0.200000     1.000000     0.600000     0.000000     0.000000     0.000000  2012.000000     1.000000     1.000000     0.000000     0.000000          19.604114    -8.141708      NaN     0.000000
25%            1.0    45.000000    30.000000    38.000000     NaN    24.000000    33.000000     0.000000     0.000000      NaN     NaN       NaN     0.000000    29.700000    29.860000     2.800000    12.000000     4.200000     0.000000     0.000000     0.000000  2012.000000     3.000000     8.000000     1.000000     0.000000          51.757381    33.757266      NaN     0.000000
50%            1.0    63.000000    43.000000    54.000000     NaN    41.000000    48.000000    11.000000     0.000000      NaN     NaN       NaN     0.005000    29.850000    30.020000     4.700000    22.000000     6.100000     0.000000     1.000000     0.000000  2013.000000     6.000000    16.000000     3.000000     0.000000          60.884173    52.505132      NaN     0.000000
75%            1.0    78.000000    57.000000    68.000000     NaN    55.000000    60.000000    27.000000     3.000000      NaN     NaN       NaN     0.030000    30.000000    30.160000     7.300000    28.000000     8.200000     1.000000     1.000000     0.000000  2014.000000     9.000000    23.000000     5.000000     1.000000          70.569532    68.840976      NaN     0.000000
max            1.0    97.000000    77.000000    86.000000     NaN    72.000000    76.000000    57.000000    21.000000      NaN     NaN       NaN     3.450000    30.590000    30.770000    19.300000    36.000000    19.800000     1.000000     1.000000     1.000000  2014.000000    12.000000    31.000000     6.000000     1.000000         100.000000    90.656121      NaN     1.000000

In [87]:
# station으로 merge
stn_1 = w_stn_1_fill.merge(key_train, on=("date", "station_nbr"))
stn_2 = w_stn_2_fill.merge(key_train, on=("date", "station_nbr"))
stn_3 = w_stn_3_fill.merge(key_train, on=("date", "station_nbr"))
stn_4 = w_stn_4_fill.merge(key_train, on=("date", "station_nbr"))
stn_5 = w_stn_5_fill.merge(key_train, on=("date", "station_nbr"))
stn_6 = w_stn_6_fill.merge(key_train, on=("date", "station_nbr"))
stn_7 = w_stn_7_fill.merge(key_train, on=("date", "station_nbr"))
stn_8 = w_stn_8_fill.merge(key_train, on=("date", "station_nbr"))
stn_9 = w_stn_9_fill.merge(key_train, on=("date", "station_nbr"))
stn_10 = w_stn_10_fill.merge(key_train, on=("date", "station_nbr"))
stn_11 = w_stn_11_fill.merge(key_train, on=("date", "station_nbr"))
stn_12 = w_stn_12_fill.merge(key_train, on=("date", "station_nbr"))
stn_13 = w_stn_13_fill.merge(key_train, on=("date", "station_nbr"))
stn_14 = w_stn_14_fill.merge(key_train, on=("date", "station_nbr"))
stn_15 = w_stn_15_fill.merge(key_train, on=("date", "station_nbr"))
stn_16 = w_stn_16_fill.merge(key_train, on=("date", "station_nbr"))
stn_17 = w_stn_17_fill.merge(key_train, on=("date", "station_nbr"))
stn_18 = w_stn_18_fill.merge(key_train, on=("date", "station_nbr"))
stn_19 = w_stn_19_fill.merge(key_train, on=("date", "station_nbr"))
stn_20 = w_stn_20_fill.merge(key_train, on=("date", "station_nbr"))

In [88]:
# station별로 파일만들기
obj_stn = [stn_1, stn_2, stn_3, stn_4, stn_5, stn_6, stn_7, stn_8, stn_9,
           stn_10, stn_11, stn_12,stn_13, stn_14, stn_15, stn_16, stn_17,
           stn_18, stn_19, stn_20]
obj_name = ["station_"+str(i) for i in range(1, 21)]
for i in range(len(obj_stn)):
    obj_stn[i].to_csv(obj_name[i]+".csv", sep=",", index=False)

---

In [51]:
# merge_total_fill 파일 만들기

In [52]:
total = pd.concat([stn_1, stn_2, stn_3, stn_4, stn_5, stn_6, stn_7, stn_8, stn_9,
           stn_10, stn_11, stn_12,stn_13, stn_14, stn_15, stn_16, stn_17,
           stn_18, stn_19, stn_20], join="outer", ignore_index=True)

In [126]:
len(total)

4617600

In [127]:
total.to_csv("merge_total_fill.csv", sep=",", index=False)