#### 0. oauth
- https://oauth.net/2/
- 2006년에 IETF(Internet Engineering Task Force) OAuth Working Group에서 개발되고 유지보수 되는 인증을 위한 표준 프로토콜
- secret key, request token, access token, refresh token
- https://confluence.atlassian.com/bitbucket/oauth-endpoint-300220600.html

#### 1. Install Package
- mac
    - `$ pip install pygsheets oauth2client`
- windows
    - `$ conda install -c marta-sd pygsheets`

windows에서 아래의 에러가 발생하면 pip로 설치합니다.
- TypeError: parse() got an unexpected keyword argument 'transport_encoding'
    - `$ conda install pip`
    - `$ pip install pygsheets`

In [2]:
import pygsheets

#### 2. authorizing - secret token 받기
- reference
    - http://pygsheets.readthedocs.io/en/latest/authorizing.html

1. 콘솔 페이지로 이동 - https://console.developers.google.com
2. 왼쪽 상단의 프로젝트 만들기로 DSS8 프로젝트를 만듦
3. 좌측의 라이브러리 탭에서 Google Sheets API, Google Drive API를 추가(사용설정 클릭)
4. 사용자 인정 정보 탭으로 이동
5. Oauth 동의 화면으로 이동
6. 저장 클릭
7. 사용자 인증정보 클릭
8. Oauth 클라이언트 ID 클릭
9. 기타 선택후 dss8로 이름 설정후 확인 클릭
10. 우측의 다운로드 버튼 클릭 (json 확장자의 키 파일이 다운로드 된다.)
11. 다운로드 받은 파일을 노트북과 같은 디렉토리에 위치하도록 파일을 이동 및 파일이름을 "client_secret.json"으로 변경

windows에서 아래의 에러가 발생하면 `no_cache = True` 옵션을 설정해 줍니다.
- FileNotFoundError: [Errno 2] No such file or directory:
    - gc = pygsheets.authorize(outh_file='client_secret.json', no_cache = True)

In [7]:
# 아래 코드를 실행하면 auth 인증창이 실행되고 로그인후에 허용을 하면 access_token을 받아온다.
gc = pygsheets.authorize(outh_file='client_secret.json')
gc

#### 3. open sheet
- 구글 드라이브로 가서 새로운 시트를 만듭니다.
- 시트 파일 이름으로 시트를 오픈합니다.
- open 함수에 시트의 이름을 파라미터로 넣어 구글 드라이버에 있는 시트 파일을 아래와 같이 열수 있습니다.
- sh로 오픈한 시트 파일의 시트는 sh.sheet1으로 첫번째 시트를 가져올수 있습니다.
- 처음에는 항상 첫번째 시트를 가져오고 selecting기능으로 다른 시트에 접근할수 있습니다.

In [8]:
# 아래의 내용을 데이터 시트에 입력
datas = [["박두진", "pdj1224@gmail.com"],
["김상진", "1221pdj@naver.com"],
["최윤성", "pdj1224@daum.net"]]
pd.DataFrame(datas, index=[1,2,3], columns=["이름","이메일"])

    이름                이메일
1  박두진  pdj1224@gmail.com
2  김상진  1221pdj@naver.com
3  최윤성   pdj1224@daum.net

In [9]:
sh = gc.open('email') # 파일 열기 (sh : 전체 시트에 대한 객체)
sheet1 = sh.sheet1    # 시트 접근 (sheet1 : 첫번째 시트에 대한 객체)
sheet1

#### 4. create sheet
- 시트 생성
- add_worksheet 함수를 이용하여 생성할 시트이름, 행과 열의 크기를 파라미터로 넘겨 새로운 시트를 생성할수 있습니다.

In [10]:
# 5칸, 20줄을 가지는 new_sheet라는 이름의 새로운 시트를 생성하여 sheet2라는 변수에 넣어줌
sheet2 = sh.add_worksheet("new_sheet", rows=20, cols=5)
sheet2

#### 5. copy sheet
- 시트 복사
- add_worksheet를 이용하여 src_worksheet 파라미터에 복사할 시트를 파라미터로 넘기면 새로운 시트를 생성할때 src_worksheet에 설정한 시트가 복사 됩니다.

In [11]:
# sheet1을 복사하여 email_copied라는 title의 새로운 시트를 생성하여 sheet3이라는 변수에 넣어줌
sheet3 = sh.add_worksheet("email_copied", src_worksheet=sheet1)
sheet3

#### 6. delete sheet
- 시트 삭제
- del_worksheet에 삭제한 시트 객체를 파라미터로 넘기면 해당 시트가 삭제됩니다.

In [12]:
# sheet3 변수가 가지는 sheet를 삭제
sh.del_worksheet(sheet3)

#### 7. selecting  sheet
- 시트가 모여있는 객체인 sh 객체에서 원하는 시트하나에 대한객체를 선택해서 가져오는 방법입니다.
- 제목과 순서에 대한 값으로 시트를 가져올수 있습니다.

In [18]:
# 모든 시트 리스트로 가져오기
sheet_list = sh.worksheets()
sheet_list

In [19]:
# 시트 제목으로 가져오기
new_sheet = sh.worksheet_by_title("new_sheet")
print(new_sheet)

<Worksheet 'new_sheet' index:1>

In [20]:
# index로 시트 가져오기
sheet0 = sh.worksheet("index", 0)
print(sheet0)

<Worksheet 'Sheet1' index:0>

In [21]:
# 위에 저장한 첫번째 시트인 sheet1과 같은지 확인하기
# 객체에 비교연산자를 사용하면, 오브젝트를 참조하고 있는지 확인
sheet0 == sheet1

True

In [22]:
# offset으로 가져오기
sheet0 = sh[0]
print(sheet0)

<Worksheet 'Sheet1' index:0>

In [23]:
# 위에 저장한 첫번째 시트인 sheet1과 같은지 확인하기
sheet0 == sheet1

True

#### 8. get values

In [24]:
# 전체 데이터 리스트로 가져오기 (딕셔너리타입)
sheet1.get_all_records()

[{'순번': 1, '이름': '박두진', '이메일': 'sgasde@gmail.com'},
 {'순번': 2, '이름': '김성진', '이메일': 'wesdfge@daum.net'},
 {'순번': 3, '이름': '최윤성', '이메일': 'asdfe@naver.com'}]

In [25]:
# rows와 columns 설정, class의 getter, setter 개념과 유사
sh[0].rows = 10
sh[0].cols = 3

In [16]:
# 모든 데이터 행렬로 가져오기 (리스트타입)
all_data_sheet1 = sheet1.get_all_values(returnas='matrix')
all_data_sheet1

[['순번', '이름', '이메일'],
 ['1', '박두진', 'pdj1224@gmail.com'],
 ['2', '김상진', 'pdj1224@daum.net'],
 ['3', '최윤성', '1221pdj@naver.com']]

In [26]:
# 위치를 지정하여 행렬 형태로 데이터 가져오기
some_data_sheet1 = sheet1.get_values(start=(2,2), end=(3,3), returnas='matrix')
some_data_sheet1

[['박두진', 'sgasde@gmail.com'], ['김성진', 'wesdfge@daum.net']]

In [27]:
# "시트[행][열]"과 같은 방법으로 특정 셀의 데이터를 가져올수 있습니다.
value = sheet1[2][1]
value

'김성진'

In [30]:
# 문자열 찾기 (C2 - 3번째 열, 2번째 줄)
cell_list = sh[0].find("pdj1224@gmail.com")
print(cell_list)

[<Cell C2 'pdj1224@gmail.com'>]

In [31]:
# 특정 문자열이 있는 셀을 찾아서 다른 문자열로 바꾸기
cell_list = sh[0].find("pdj1224@gmail.com", replace="radajin1224@gmail.com")
cell_list

In [32]:
# csv 파일로 export하기
sheet1.export(pygsheets.ExportType.CSV, filename="sheet1.csv")

sheet1.csv

#### 9. Update & Insert

In [33]:
# A1에서 C4까지의 위치에 some_data_sheet1 데이터로 업데이트함
# some_data_sheet1에는 [['박두진', 'pdj1224@gmail.com'], ['김상진', 'pdj1224@daum.net']] 데이터가 들어있음으로 4개의 value가 들어감
sh[1].update_cells(crange='A1:C4', values=some_data_sheet1)

In [34]:
# sh[1] 위치에 있는 두번째 시트에 대한 모든 데이터를 가져옴
all_data_sheet2 = sh[1].get_all_values()
all_data_sheet2

[['박두진', 'sgasde@gmail.com', '', '', ''],
 ['김성진', 'wesdfge@daum.net', '', '', '']]

In [35]:
# 4번째줄 아래로 2줄 삽입 (5,6번째줄에 데이터 삽입)
sh[1].insert_rows(row=4, number=2, values=all_data_sheet2)

In [36]:
# 시트의 열과 행을 재설정해줌
sh[1].rows = 7
sh[1].cols = 2

In [39]:
# 반복문을 통해 한줄씩 읽어 올수 있음
for row in sh[1]:
    print(row)

['박두진', 'sgasde@gmail.com']
['김성진', 'wesdfge@daum.net']
['', '']
['', '']
['박두진', 'sgasde@gmail.com']
['김성진', 'wesdfge@daum.net']

In [40]:
# 시트의 제목을 업데이트
sh[1].title = "NewSheet"

In [41]:
# 시트의 마지막 데이터를 찾아 마지막 데이터의 아래에 데이터를 추가
sh[1].append_table(values=["이민성","pdj1224@gmail.com"])

In [42]:
sh[1].rows

7

In [43]:
# 시트 내용 모두 삭제하기
sh[1].clear()

#### 10. change to pandas
- google sheet를 데이터 분석을 위한 파이썬 패키지인 pandas의 DataFrame으로 변환할수 있다.

In [44]:
sheet1

In [46]:
df = pd.DataFrame()
df = sheet1.get_as_df()
df

   순번   이름                    이메일
0   1  박두진  radajin1224@gmail.com
1   2  김성진       wesdfge@daum.net
2   3  최윤성        asdfe@naver.com

In [47]:
# csv 파일로 저장
df.to_csv("email.csv", index=False)

In [48]:
# csv 파일 읽어오기
df = pd.read_csv("email.csv")
df

   순번   이름                    이메일
0   1  박두진  radajin1224@gmail.com
1   2  김성진       wesdfge@daum.net
2   3  최윤성        asdfe@naver.com

#### 11. Cell

In [49]:
# sheet1을 cell_test 시트를 만들어 복사한다.
test_sheet = sh.add_worksheet("cell_test", src_worksheet=sheet1)
test_sheet

In [50]:
# 특정 셀의 객체 가져오기
b2 = test_sheet.cell('B2')

# 셀 값 확인
print(b2.value)

박두진

In [51]:
# b2 객체의 3번째 칸의 데이터를 b2에 할당
b2.col = 3

# 셀 값 확인
print(b2.value)

radajin1224@gmail.com

In [52]:
# b2에 해당하는 위치의 데이터를 "radajin1224@gmail.com"로 바꿈
b2.value = "pdj1224@gmail.com"
b2.value

'pdj1224@gmail.com'

In [53]:
# C2 위치의 데이터를 'radajin1224@gmail.com'로 업데이트함
test_sheet.update_cell('C2', 'radajin1224@gmail.com')

In [54]:
# A1에서 C4의 셀 리스트 가져옴
cell_list = test_sheet.range('A1:C4')
print(cell_list)

[[<Cell A1 '순번'>, <Cell B1 '이름'>, <Cell C1 '이메일'>], [<Cell A2 '1'>, <Cell B2 '박두진'>, <Cell C2 'radajin1224@gmail.com'>], [<Cell A3 '2'>, <Cell B3 '김성진'>, <Cell C3 'wesdfge@daum.net'>], [<Cell A4 '3'>, <Cell B4 '최윤성'>, <Cell C4 'asdfe@naver.com'>]]

In [55]:
cell_list[3][2].value

'asdfe@naver.com'

In [56]:
# A1에서 C4의 셀 리스트 가져옴
cell_list = test_sheet.get_values('A1','C4', returnas='cells')
print(cell_list)

[[<Cell A1 '순번'>, <Cell B1 '이름'>, <Cell C1 '이메일'>], [<Cell A2 '1'>, <Cell B2 '박두진'>, <Cell C2 'radajin1224@gmail.com'>], [<Cell A3 '2'>, <Cell B3 '김성진'>, <Cell C3 'wesdfge@daum.net'>], [<Cell A4 '3'>, <Cell B4 '최윤성'>, <Cell C4 'asdfe@naver.com'>]]

In [57]:
# 두번째 줄의 셀 리스트 가져옴
cell_list = test_sheet.get_row(2, returnas='cells')
print(cell_list)

[<Cell A2 '1'>, <Cell B2 '박두진'>, <Cell C2 'radajin1224@gmail.com'>]

In [58]:
%%time
cell = test_sheet.cell('C2')

# 노트 추가
cell.note = "this is email data."

# 셀 배경 색상 변경 (Red, Green, Blue, Alpha
cell.color = (1.0,1.0,0.0,1.0) 

# 텍스트 포멧 변경
cell.text_format['fontSize'] = 12
cell.text_format['bold'] = True

# sync the changes
cell.update()

Wall time: 2.58 s

#### 12. Share

In [64]:
# add
# 'owner','writer','commenter','reader'
sh.share("radajin1224@gmail.com", role='reader')

In [65]:
# remove
sh.remove_permissions("radajin1224@gmail.com")

''

#### 13. all clear

In [60]:
sh.del_worksheet(sh[1])

In [61]:
sh.del_worksheet(sh[1])

#### 14. seaborn에서 iris 데이터를 가져와서 구글 데이터 시트에 넣기

In [63]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [67]:
# 새로운 시트 만들기
iris_sheet = sh.add_worksheet("iris")

In [68]:
iris_sheet.set_dataframe(iris, 'A1', copy_index=True) # (df, cell_start)