#### 파일 입력시
pd.read_csv("<파일명>", sep="\t", index_col="<index 열>")
pd.read_csv("<인터넷경로/파일명>")
#### 파일 출력시
<객체명>.to_csv("파일명", sep="\t", na_rep=["NaN"], index=False, head=False)

In [11]:
a = pd.read_csv("sample1.csv", index_col='c1')
a

      c2      c3
c1
1   1.11     one
2   2.22     two
3   3.33   three

In [12]:
%%writefile sample2.txt
c1       c2       c3      c4
0.124    0.1235   -1.22345 -0.4536
1.2355   0.00235  0.234   -0.1234
0.417899 -2.002308  0.255245 -1.10515

Writing sample2.txt

In [16]:
b = pd.read_table("sample2.txt", sep="\s+") #길이가 정해지지 않은 공백인 경우
b

         c1        c2        c3       c4
0  0.124000  0.123500 -1.223450 -0.45360
1  1.235500  0.002350  0.234000 -0.12340
2  0.417899 -2.002308  0.255245 -1.10515

In [20]:
%%writefile sample3.csv
파일 제목: sample4.txt
데이터 포맷의 설명: 
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three
4, ., four

Overwriting sample3.csv

In [24]:
df = pd.read_csv("sample3.csv", skiprows=[0,1], na_values=["."])
df

   c1     c2      c3
0   1   1.11     one
1   2   2.22     two
2   3   3.33   three
3   4      .    four

In [37]:
df.to_csv("sample4.csv", sep="\t", na_rep=["NaN"], index=False)

In [38]:
!cat sample4.csv

c1	 c2	 c3
1	 1.11	 one
2	 2.22	 two
3	 3.33	 three
4	 .	 four

#### 인터넷 상의 데이터 베이스 자료 입력¶
pandas_datareader 패키지의 DataReader 을 사용하면 일부 인터넷 사이트의 자료를 바로 pandas로 읽어들일 수 있다. pandas_datareader 패키지는 판다스와 별도로 설치해야 한다. 다음은 pandas_datareader 패키지가 제공하는 인터넷 사이트의 예이다. 일부 인터넷 사이트는 유료이므로 별도의 가입절차를 거쳐야 한다.
```
FRED
Fama/French
World Bank
OECD
Eurostat
EDGAR Index
TSP Fund Data
Oanda currency historical rate
Nasdaq Trader Symbol Definitions
```
- 자세한 내용은 다음 웹사이트를 참조한다.

https://pandas-datareader.readthedocs.io/en/latest/index.html

In [11]:
from pandas_datareader.data import DataReader
import datetime
dt_start = datetime.datetime(2015, 1, 1)
dt_end = "2016, 6, 30"

- data_source 인수로 데이터를 읽어올 웹 사이트를 지정한다. 데이터의 코드는 웹 사이트에서 검색하여 알아내야 한다. 다음은 FRED 데이터베이스에서 미국 국가총생산(GDP), 모든 항목을 포함한 소비자 가격 지수(CPIAUCSL), 식료품 및 연로를 제외한 소비자 가격 지수(CPILFESL)를 가져오는 예이다. 웹사이트에서 자세한 데이터에 대한 세부적인 사항이나 값을 확인할 수 있다.

 https://fred.stlouisfed.org/series/GDP
 https://fred.stlouisfed.org/series/CPIAUCSL
 https://fred.stlouisfed.org/series/CPILFESL

In [12]:
gdp = DataReader("GDP", "fred", dt_start, dt_end)
gdp.tail()

                  GDP
DATE
2015-04-01  18093.224
2015-07-01  18227.689
2015-10-01  18287.226
2016-01-01  18325.187
2016-04-01  18538.039