#### 데이터프레임 인덱서¶
Pandas는 numpy행렬과 같이 쉼표를 사용한 (행 인덱스, 열 인덱스) 형식의 2차원 인덱싱을 지원하기 위해 다음과 같은 특별한 인덱서(indexer)를 제공한다.

- loc : 라벨값 기반의 2차원 인덱싱
- iloc : 순서를 나타내는 정수 기반의 2차원 인덱싱
- at: 라벨값 기반의 2차원 인덱싱 (한개의 스칼라 값만 찾는다)
- iat : 순서를 나타내는 정수 기반의 2차원 인덱싱 (한개의 스칼라 값만 찾는다)

- loc 인덱서 : ¶
loc 인덱서를 사용할 때는 행/열 인덱스들이 모두 다음 중 하나이어야 한다.

    - 정수 인덱스가 아닌 라벨 값(원래 인덱스 자체가 정수 인덱스인 경우는 예외적으로 허용)
    - 라벨 값의 리스트나 슬라이싱
    - 불리언 리스트, 1차원 배열, 시리즈 (데이터프레임은 안된다.)
    - 또는 데이터프레임을 입력으로 받고 위의 값을 반환하는 함수
- loc 인덱서는 df.loc[행 인덱스, 열 인덱스]와 같은 형태로 사용한다. 
- loc 인덱서 내에는 1차원 리스트나 시리즈만 입력가능

In [1]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                 index=["a", "b", "c"],
                 columns=["A", "B","C","D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [2]:
# loc 인덱서는["행인덱스", "열인덱스"], 슬라이싱은 ["열인덱스"]["행인덱스]
df.loc["a", "A"], df["A"]["a"]

(10, 10)

In [3]:
df.loc["b":, "A"]

b    14
c    18
Name: A, dtype: int32

In [4]:
df.loc["a", :], type(df.loc["a", :])

(A    10
 B    11
 C    12
 D    13
 Name: a, dtype: int32, pandas.core.series.Series)

In [5]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [6]:
df.loc[df.A > 10, :]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [7]:
df[df.A>10][:]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [8]:
df[1:3]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [9]:
# 인덱서 내에는 1차원 리스트 또는 시리즈 만을 받음
df.loc[:, df.loc["a", :] <= 11]

    A   B
a  10  11
b  14  15
c  18  19

#### iloc 인덱서¶
iloc 인덱서는 loc 인덱서와 반대로 라벨이 아니라 순서를 나타내는 정수(integer) 인덱스만 받는다.

In [10]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [11]:
df.iloc[0,1]

11

In [12]:
df.iloc[:2, 2]

a    12
b    16
Name: C, dtype: int32

In [13]:
df.iloc[2]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

#### at, iat 인덱서¶
at, iat 인덱서는 loc, iloc 인덱서와 비슷하지만 하나의 스칼라 값을 뽑을 때만 사용한다. 빠른 인덱싱 속도가 요구되는 경우에 사용한다.

In [14]:
%timeit df.loc["a", "A"]

8.42 µs ± 374 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [15]:
%timeit df.at["a", "A"]

5.96 µs ± 223 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)