python 기초 문법
- 기본, 식별자, 변수, 데이터 타입, 데이터 형변환, 연산자

comment, print

In [3]:
# this is a function
def func():
    return 100

In [4]:
print("data 1", end = "\n")                 #print문 안에는 end = '\m'이 default로 숨겨져 있어서 자동으로 줄바꿈 됨
print("c:\data\name")
print(r"c:\data\name")                      #문자열 내에 \n이 있어서 자동줄바꿈이 될 경우 첫 따옴표 앞에r을 붙이면 일반 문자됨

data 1
c:\data
ame
c:\data\name

In [5]:
print("data\'1", end="\t")                    #특수문자도 출력하고 싶으면 바로 앞에 \붙이기
print("data2", end=" ")
print("data3", end="\t")

data'1	data2 data3

In [3]:
# print format 1
s1 = "data1"
s2 = "data2"
print("this is a {}, {}.".format(s1, s2))

this is a data1, data2.

In [6]:
# print format 2
s1 = "andy"
s2 = "seoul"
print("this is a {name}, {addr}.".format(addr=s2, name=s1))

this is a andy, seoul.

In [9]:
# print %
price = 10000
print("상품의 가격은 %s원 입니다." % price)
print("오늘은 %s월 %s일 입니다." % (3, 1))

상품의 가격은 10000원 입니다.
오늘은 3월 1일 입니다.

##### 식별자
- 변수, 함수, 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
- 규칙
    - 대소문자를 구분
    - 소문자(a~z), 대문자(A~Z), 숫자(0~9), 특수문자(_)
    - 가장앞에 (`__`) 지양, (언더바 두번, 이미 명령어로 설정되어 있는 경우가 많음) 
    - 가장앞에 숫자 사용은 불가
    - 예약어 사용불가 : def, print ...

In [5]:
A = 1
a = 2

In [6]:
A, a

(1, 2)

변수
- `=`은 대입을 의미함

In [7]:
a = 1

In [8]:
b = "python"

In [9]:
a, b

(1, 'python')

In [10]:
# 다중할당 - 한줄에 여러개의 변수를 선언해서 값을 넣어줌
a, b = 1, "python"
a, b

(1, 'python')

In [11]:
c = d = e = "data"
c, d, e

('data', 'data', 'data')

In [12]:
d = "ho"
c, d, e

('data', 'ho', 'data')

##### 자료형 - Datatype
- Number : int, float, complex
- Boolean : True, False
- String
- Collection
    - List
    - Tuple
    - Dictionary
    - Set

In [13]:
# Number - int
a, b, c, d = 0, 12345, -9993, +23844
print(type(a), type(b), type(c), type(d))
a,b,c,d

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

(0, 12345, -9993, 23844)

In [14]:
# Number - float
a, b, c, d = 0.0, 123.5678, -123.111, +999.222
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'float'> <class 'float'> <class 'float'> <class 'float'>

(0.0, 123.5678, -123.111, 999.222)

In [15]:
# Number - complex
a = 2 + 3j
b = complex(3, -4)
print(type(a), type(b))
a, b

<class 'complex'> <class 'complex'>

((2+3j), (3-4j))

In [16]:
print(type(a.real), type(a.imag))
a.real, a.imag

<class 'float'> <class 'float'>

(2.0, 3.0)

In [17]:
a + b, a * b, a / b

((5-1j), (18+1j), (-0.24+0.68j))

In [18]:
a.conjugate()

(2-3j)

In [19]:
abs(a)

3.605551275463989

In [20]:
# Boolean
a, b = True, False
print(type(a), type(b))
a, b

<class 'bool'> <class 'bool'>

(True, False)

In [21]:
# String
a, b, c, d = "data", 'science', "data 'science' is good", 'data "science" is good'
print(type(a), type(b), type(c), type(d))
a, b, c, d

<class 'str'> <class 'str'> <class 'str'> <class 'str'>

('data', 'science', "data 'science' is good", 'data "science" is good')

In [22]:
# String - multy line
a = """fast campus
data science
good"""
print(a)

fast campus
data science
good

In [23]:
# String - multiful string
s = "Data " * 10
s

'Data Data Data Data Data Data Data Data Data Data '

In [24]:
# String - offset
# 문자열의 문자 하나 하나에 넘버링을 해서 문자열의 특정 위치의 문자열 선택이 가능
a = "abcdefg"
a[5], a[-6]

('f', 'b')

In [25]:
len(a)

7

In [26]:
# 문자열의 범위를 지정해서 문자열 선택 가능
a[1:3], a[:3], a[0:3], a[3:], a[3:7], a[3:len(a)]

('bc', 'abc', 'abc', 'defg', 'defg', 'defg')

In [27]:
# step - 'abcdefg'
# inverse
a[::2], a[::-1]

('aceg', 'gfedcba')

In [28]:
# string methods

# upper
b = a.upper()

# lower
c = b.lower()
c = a.upper().lower()
c

'abcdefg'

In [29]:
# find
# 없는 문자열을 넣으면 -1을 리턴
a.find("c"), a.find("cd"), a.find("z")

(2, 2, -1)

In [30]:
# index
a.index("c"), a.index("cd")    # 변수에 없는 문자열을 넣게 되면 에러가 발생

(2, 2)

In [31]:
b = "asdfqweras"
c = "qw"
b.count("as"), b.count(c)

(2, 1)

In [15]:
# strip
s = " data science "
s.lstrip(), s.rstrip(), s.lstrip().rstrip(), s.strip()                  #문자열 사이 공백은 제거 안됨

('data science ', ' data science', 'data science', 'data science')

In [16]:
# replace                                                               #문자열 수정은 replace로만 됨 indexing으로 안됨
s.replace("e","a"), s.replace("data","test")

(' data scianca ', ' test science ')

In [17]:
# split
s.strip().split(" "), type(s.strip().split(" "))

(['data', 'science'], list)

In [4]:
a = "asb"
b = "123"
c = "   "
a.isalpha(), b.isdigit(), c.isspace()          #문자열로 입력된 자료가 문자, 숫자, 스페이스로만 이루어져 있으면 True, 아니면 False 반환

(True, True, True)

##### list
- 순서가 있는 데이터의 집합을 가지는 데이터 타입
- list에 저장된 데이터들을 리스트 요소(array element)라 함
- 리스트 요소에는 번호가 있고 리스트 이름이 score면 score[0], score[1]로 표시
- 다양한 종류의 데이터를 하나의 리스트 안에 함께 저장 가능
##### 리스트 순회
- 리스트에 있는 요소들을 순서대로 방문(for문 이용)하고 리스트 요소 수정 가능

In [36]:
# 리스트 선언
ls1 = [1, "data", True, "science"]
ls2 = [1, 2, [1,2]]                        #내장리스트
ls3 = ["aaa", ["bbb", ["ccc", ["ddd"]]]]   #내장리스트
print(type(ls1), type(ls2))
ls1, ls2, ls3, ls1+ls2*2

<class 'list'> <class 'list'>

([1, 'data', True, 'science'],
 [1, 2, [1, 2]],
 ['aaa', ['bbb', ['ccc', ['ddd']]]],
 [1, 'data', True, 'science', 1, 2, [1, 2], 1, 2, [1, 2]])

In [37]:
list1 = list()
list2 = list("hello")
list3 = list(range(5))
list1, list2, list3

([], ['h', 'e', 'l', 'l', 'o'], [0, 1, 2, 3, 4])

In [38]:
"a" in list2, "a" not in list2

(False, True)

In [8]:
# List Offset
ls = ["banana", "tomato", "peach", "pear"]
lsls = [0, 1, 2, 3, 4, 5]
ls[1], ls[-1], ls[1:3], ls[:3], ls[2:]

('tomato',
 'pear',
 ['tomato', 'peach'],
 ['banana', 'tomato', 'peach'],
 ['peach', 'pear'])

In [40]:
max(ls), min(ls)       #아마 첫번째 알파벳의 순서를 기준으로 리턴?

('tomato', 'banana')

In [41]:
max(lsls), min(lsls)

(5, 0)

In [42]:
# list 순회
a = ["qwe","rty","uio","asd"]
for i in range(len(a)):
    print(i, a[i])
    a[i] = i*2
    
a

0 qwe
1 rty
2 uio
3 asd

[0, 2, 4, 6]

In [43]:
a = ["qwe","rty","uio","asd"]
for i in a:
    i = i*2
    print(i)

a

qweqwe
rtyrty
uiouio
asdasd

['qwe', 'rty', 'uio', 'asd']

In [44]:
a = ["qwe","rty","uio","asd"]
for i in range(len(a)):
    a[i] *= 2
    print(i)

a

0
1
2
3

['qweqwe', 'rtyrty', 'uiouio', 'asdasd']

In [45]:
for i in ls3:
    print(i)

aaa
['bbb', ['ccc', ['ddd']]]

In [46]:
# list method
# append, sort, reverse, index, insert, remove, pop

In [47]:
ls

['banana', 'tomato', 'peach', 'pear']

In [48]:
ls.append("apple")
ls

['banana', 'tomato', 'peach', 'pear', 'apple']

In [49]:
ls.sort(), lsls.sort()     #리스트 내 숫자, 문자 혼합이면 에러, 리스트 객체의 sort()메소드
ls, lsls

(['apple', 'banana', 'peach', 'pear', 'tomato'], [0, 1, 2, 3, 4, 5])

In [13]:
a = [5,6,7,4,1]
b = sorted(a)            #sorted(<변수명>)는 내장함수 
b

[1, 4, 5, 6, 7]

In [50]:
ls.reverse()
ls

['tomato', 'pear', 'peach', 'banana', 'apple']

In [51]:
ls.index("tomato")         #요소가 중복일 경우 맨 앞에 있는 값의 위치 리턴

0

In [52]:
ls.index("banana")

3

In [14]:
ls

['banana', 'peach', 'pear']

In [54]:
ls.insert(2, "insert")         #실행할 때마다 하나씩 더 추가
ls

['tomato', 'pear', 'insert', 'peach', 'banana', 'apple']

In [55]:
ls.remove("insert")        #값이 남아 있으면 실행할때마다 하나씩 삭제 
lsls[0:2] = []           #리스트 슬라이싱으로 하고 빈 리스트를 할당하면 삭제 가능
ls, lsls

(['tomato', 'pear', 'peach', 'banana', 'apple'], [2, 3, 4, 5])

In [56]:
ls.remove("apple")
ls

['tomato', 'pear', 'peach', 'banana']

In [57]:
del ls[0]       #값이 남아 있으면 실행할때마다 하나씩 삭제 
ls

['pear', 'peach', 'banana']

In [9]:
ls.pop(1)        #괄호 안이 비어있으면 맨 마지막 데이터 반환 후 삭제, 요소 위치를 지정하면 그 위치의 요소 반환 후 삭제

'tomato'

In [10]:
ls

['banana', 'peach', 'pear']

In [60]:
ls = ['science', 'dss8', 'data']
ls

['science', 'dss8', 'data']

In [61]:
ls[1:3] = "fast"
ls

['science', 'f', 'a', 's', 't']

In [62]:
# list copy
a = [1,2,3]
b = a
a, b

([1, 2, 3], [1, 2, 3])

In [63]:
b[2] = 10
a, b

([1, 2, 10], [1, 2, 10])

In [64]:
c = a.copy()
a, b, c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [65]:
a[2] = 100

In [66]:
a, b, c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

##### Tuple
- 리스트와 같이 순서가 있는 데이터 타입. 리스트와 유사하지만 '수정이 불가능'
- 리스트보다 메모리(컴퓨터 자원)를 적게 사용

In [67]:
# 튜플 선언
t =0, 1, 2, 3, 4, 5
t2 = "cat", "dog", "bird", ["snake"]
t, t2

((0, 1, 2, 3, 4, 5), ('cat', 'dog', 'bird', ['snake']))

In [68]:
t[1:3], t[1:], t[:3], t[:]

((1, 2), (1, 2, 3, 4, 5), (0, 1, 2), (0, 1, 2, 3, 4, 5))

In [69]:
#튜플 대입 연산
student1 = ("철수", 19, "CS")
(name, age, major) = student1
name

'철수'

In [70]:
age

19

In [71]:
import sys

# getsizeof : byte 단위로 변수에 사용하는 메모리 공간 알려줌
ls = [1,2,3,4,5]
tu = (1,2,3,4,5)
sys.getsizeof(ls), sys.getsizeof(tu)

(104, 88)

##### Dictionary
- 데이터의 순서가 없고 key, value가 쌍으로 모여있는 데이터 타입
- key는 변경불가

In [72]:
# 선언
dic = {
    1:"one",
    "A":["data", "science"],
    "숫자":1234,               #마지막 value 뒤에 , 를 써 놓는 게 나중에 수정/확인하기 좋음 
}
type(dic), dic

(dict, {1: 'one', 'A': ['data', 'science'], '숫자': 1234})

In [73]:
# 수정
dic[1] = "하나"
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

In [74]:
dic["A"] = "알파벳"
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

In [75]:
# method
# keys, values, items, clear, get, copy, update

In [76]:
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

In [77]:
dic.keys(), dic.values(), list(dic.keys()), list(dic.values())

(dict_keys([1, 'A', '숫자']),
 dict_values(['하나', '알파벳', 1234]),
 [1, 'A', '숫자'],
 ['하나', '알파벳', 1234])

In [78]:
list(dic.items())

[(1, '하나'), ('A', '알파벳'), ('숫자', 1234)]

In [79]:
dic.clear()
dic

{}

In [2]:
dic = {1:"one", 2:"two", 3:"three"}
dic.get(4, "four")          #get메소드는 key값이 없으면 None반환, get으로 없는 값 리턴 가능, dictionary에 추가되지는 않음

{1: 'one', 2: 'two', 3: 'three'}

In [81]:
dic2 = {3:"삼", 4:"사", 5:"오"}
dic, dic2

({1: 'one', 2: 'two', 3: 'three'}, {3: '삼', 4: '사', 5: '오'})

In [82]:
dic.update(dic2)               #dic + dic은 안됨
dic

{1: 'one', 2: 'two', 3: '삼', 4: '사', 5: '오'}

In [83]:
dic = {1:"one", "A":"a"}

In [84]:
dic

{1: 'one', 'A': 'a'}

In [85]:
del dic[1]
dic

{'A': 'a'}

##### Set
- 중복되는 데이터가 없는 집합 형태의 데이터 타입, 리스트 데이터에서 중복을 제거할때 사용될수 있음
- 합집합, 차집합, 교집합과 같은 집합의 연산이 가능
- 순서없음

In [86]:
# 선언
s = set([1,2,3,4,5,1,2,3])
type(s), s

(set, {1, 2, 3, 4, 5})

In [87]:
s = list(s)
s[0] = 888                 #리스트로 변환 후 데이터를 추가할 수 있지만
s = set(s)                #순서가 원하는 대로 되지 않을 수 있음
s

{2, 3, 4, 5, 888}

In [88]:
# set 연산
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

##### 데이터 형변환
- 변수의 데이터 타입을 변경
- 데이터의 값과 변경하려는 데이터의 타입에 따라서 변경이 불가능
- "Boolean은 숫자 0, 문자열 "", 리스트 []이 False로 형변환

In [89]:
a = "35"
int(a)

35

In [90]:
a = "a"
#int(a)                  #문자열은 숫자로 형변환 불가

In [91]:
str(a) + "abc"

'aabc'

In [4]:
# Boolean 데이터 타입으로의 형변환
bool(()), bool("abcd")

(False, True)

In [93]:
s = "data"
list(s)

['d', 'a', 't', 'a']

In [94]:
# 튜플과 딕셔너리의 데이터 형변환
# 튜플 -> 딕셔너리 : 튜플데이터가 (key, value) 형태로 선언
t = ((1,"one"),("A","two"))
d = dict(t)
d

{1: 'one', 'A': 'two'}

In [95]:
# 튜플 <- 딕셔너리 
tuple(d.items())

((1, 'one'), ('A', 'two'))

##### 연산자
- 산술연산자, 비교연산자, 할당(대입)연산자, 비트연산자, 논리연산자, 멤버연산자, 식별연산자

In [96]:
# 산술연산자 : +, -, /, *, //, %, **
print(2 + 4)
print(2 - 4)
print(5 / 3)
print(5 * 3)

6
-2
1.6666666666666667
15

In [97]:
print(14 // 3)
print(14 % 3)
print(3 ** 4)
print(2 ** 0.5)

4
2
81
1.4142135623730951

In [98]:
# 비교연산자 : a == b, a != b, >, <, >=, <=
a, b, c = 10, 20, 10
print(a, b, c)
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= c)
print(a >= c)

10 20 10
False
True
True
False
True
True

In [8]:
# 할당(대입)연산자 : =, +=, -=, *=, /=, //=, %=, **=
a = 5
print(a)

# a = a + 10
a += 10
print(a)

a **= 4
print(a)

a //= 5
print(a)

5
15
50625
10125

In [100]:
# 비트연산자 : &, |, ^, ~, <<, >>
a = 3 # 0011
b = 5 # 0101

print(a & b, bin(a & b))
print(a | b, bin(a | b))
print(a ^ b, bin(a ^ b))
print(~a, bin(~a))
print(a<<2, bin(a<<2)) # * 2**n
print(b>>2, bin(b>>2)) # // 2**n

1 0b1
7 0b111
6 0b110
-4 -0b100
12 0b1100
1 0b1

In [101]:
# 논리연산자 : A and B, or, not
print(True and True)
print(True and False)

print(True or True)
print(True or False)

a,b,c,d=1,2,3,4

not(not(a > b) and c < d)

True
False
True
True

False

In [9]:
# 멤버연산자 : in, not in
ls = (1,2,3,4,5)

print(1 in ls)
print(6 in ls)

print(1 not in ls)
print(6 not in ls)

True
False
False
True

In [103]:
# 식별 연산자 : is, is not

# collection 이 아닌 데이터 타입은 값을 비교
a = "abc"
b = a
print(a is b)

c = "abc"
print(a is c)

True
True

In [104]:
# collection의 데이터 타입은 주소를 비교
a = [1,2,3]
b = a
print(a is b)

c = [1,2,3]
print(a is c)

True
False