### Input, Output, Condition, Loop

##### Input
- 데이터를 입력받을 때 사용

In [1]:
s = input("insert string : ")
print(s)

insert string : input
input

In [3]:
n = int(input("insert number : "))
print(type(n), n)

insert number : 1234
<class 'int'> 1234

In [5]:
ls = input("insert list (sep=',') : ")
ls = ls.split(",")
print(type(ls), ls)

insert list (sep=',') : a,b,c,d,data
<class 'list'> ['a', 'b', 'c', 'd', 'data']

In [6]:
# 출력 - print
a, b = 0, 1
print(a, b)

0 1

In [2]:
# pprint : 딕셔너리 형태의 큰 데이터를 보기 편하게 출력
#jupyter notebook에서는 잘 동작이 안됨, 터미널(?)에서 활용
# print 내의 값을 end = \n한 것과 같이 나타남

from pprint import pprint

dic = {1:"one", 2:"two", 3:"삼", 4:"넷"}
pprint(dic)

{1: 'one', 2: 'two', 3: '삼', 4: '넷'}

##### 조건 : if, elif, else
```
if <조건>:
    <code>
elif <조건>:
    <code>
(else:
    <조건>)
```
- 조건을 충족시킬 경우 True로 아래 코드 실행, 조건이 여러 계층으로 나누어져 있을 경우 elif 사용

In [12]:
a = False
if a:
    print("if")
print("done")

done

In [3]:
star1 = 4
star2 = 2

if star1 > 3:
    print("good")
else:
    print("bad")

good

In [20]:
# elif
#예시
# 60 이하 F, 61~70: D, 71~80:C, 81~90:B, 91~100:A
point = 74

if point > 90:
    print("A")
elif point > 80:
    print("B")
elif point > 70:
    print("C")
elif point > 60:
    print("D")
else:
    print("F")

C

In [4]:
# 음수, 0, 양수 구별하기
num = float(input("정수를 입력하시오 : "))
if num == 0 :
    print("0입니다")
    if num > 0:
        print("양수입니다")
else:
    print("음수입니다")

정수를 입력하시오 : -8
음수입니다

# 삼항연산
# result = (True) if <조건> else (False)

In [25]:
number = 12
result = "even" if number % 2 == 0 else "odd"
print(result)

even

#### 반복문
- while, for, break, continue, list comprehention
- while문 : 조건이 만족되는 동안, 반복을 계속하는 구조
- for문 : 정해진 횟수만큼 반복되는 구조

##### while

- 잘못하면 무한loop에 빠질 수 있으니 조심(kernel - interrupt나 break - 실행)
- 조건만족시 들여쓰기 한 부분 반복, 조건이 거짓이면 반복 루프를 빠져나옴
```
while <조건>:
    <code>
```

In [4]:
num = float(input("정수를 입력하시오"))
a = 0
while num >=0:
    num = float(input("다른 정수를 입력하시오"))
    a += 1
print(a, "번 음수아닌 수를 입력하였습니다")

정수를 입력하시오9
다른 정수를 입력하시오3
다른 정수를 입력하시오1
다른 정수를 입력하시오-9
3 번 음수아닌 수를 입력하였습니다

In [1]:
# 복리 이자 계산
n1 = 1000
year = 0

while n1 < 2000:
    year += 1
    n1 *= (1+0.05)
print(year)
print(n1)

15
2078.9281794113685

In [6]:
# 자리수의 합
number = 1234
sum = 0
while number > 0:
    digit = number%10
    sum = sum + digit
    number //= 10
print(sum)

10

In [18]:
#최대 공약수
x0 = int(input("정수를 입력하시오"))
y0 = int(input("정수를 입력하시오"))
if x0 < y0:
    h = x0
    x0 = y0
    y0 = h
elif x == y:
    print("최대 공약수는", x, "입니다")
while y != 0:
    r = x%y
    x = y
    y = r
print("최대 공약수는", x, "입니다")

정수를 입력하시오35
정수를 입력하시오40
최대 공약수는 35 입니다

In [23]:
#센티널 - 갯수를 알 수 없는 데이터 계산할 때 while문에서 끝을 정해주는 것
#평균을 구하시오
sum, n, score = 0, -1, 0
print("종료하려면 음수를 입력하시오")

while score >=0 :
    sum += score
    score = int(input("성적을 입력하시오"))
    n += 1
print("A반의 성적 평균은", sum/n, "입니다")

종료하려면 음수를 입력하시오
성적을 입력하시오10
성적을 입력하시오20
성적을 입력하시오30
성적을 입력하시오40
성적을 입력하시오50
성적을 입력하시오60
성적을 입력하시오70
성적을 입력하시오80
성적을 입력하시오90
성적을 입력하시오100
성적을 입력하시오-1
A반의 성적 평균은 55.0 입니다

In [29]:
# break
a = 0
while True:
    print(a)
    if a == 3:
        break
    a += 1
a

0
1
2
3

3

In [31]:
# continue
a = 5
while a > 0:
    a -= 1
    if a % 2 != 0:
        continue
    print("even", a)

even 4
even 2
even 0

##### For
```
for <var> in <range()>, <list>, <string>:
    <code>
```

In [35]:
ls = [1,2,3]
for value in ls:
    if value == 2:
        break
    print(value)

1

In [36]:
ls = [1,2,3]
for value in ls:
    if value % 2 == 0:
        continue
    print(value)

1
3

In [7]:
# range
ls = [0,1,2,3,4,5,6,7,8,9]
for value in ls:
    print(value)

0
1
2
3
4
5
6
7
8
9

In [24]:
names = ["hyojin", "miran", "minyoung", "mingi"]
for i in names:
    print(i)

hyojin
miran
minyoung
mingi

In [28]:
# for 문에서 in 뒤에 list, string, range가 올 수 있음
s = "qwertypasldkfjhzb"
rem = "aeiouAEIOU"
result = ""
for i in s:
    if i not in rem:
        result += i
print(result)

qwrtypsldkfjhzb

In [33]:
#자음과 모음의 개수1
original = input("문자를 입력하시오")
vowel = 'aeiouAEIOU'
vowels, consonants = "", ""

for i in original:
    if i in vowel:
        vowels += i
    else:
        consonants += i
        
print("모음은", vowels, "자음은", consonants)

문자를 입력하시오apple
모음은 ae 자음은 ppl

In [35]:
#자음과 모음의 개수2
original = input("문자를 입력하시오")
vowel = 'aeiouAEIOU'
vowels, consonants = 0, 0

for i in original:
    if i in vowel:
        vowels += 1
    else:
        consonants += 1
        
print("모음은", vowels, "자음은", consonants)

문자를 입력하시오apple
모음은 2 자음은 3

In [1]:
#주사위 합 확률
from random import randint

fre = int(input("주사위 실험 반복횟수 :"))
rollCount = [0, 0, 0, 0, 0, 0, 0, 0,0, 0, 0, 0, 0]
for i in range(fre):
    dice1 = randint(1, 6)
    dice2 = randint(1, 6)
    result = dice1 + dice2
    rollCount[dice1+dice2] += 1
for i in range(2, 13):
    print(i, rollCount[i])

주사위 실험 반복횟수 :10
2 0
3 0
4 0
5 1
6 3
7 1
8 4
9 0
10 0
11 1
12 0

In [ ]:
# for(i=0;i<100;i++)

In [42]:
list(range(5))

[0, 1, 2, 3, 4]

In [43]:
list(range(2,5))

[2, 3, 4]

In [44]:
list(range(0,5,2))

[0, 2, 4]

In [45]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [46]:
for idx in range(5):
    print(idx)

0
1
2
3
4

In [47]:
for _ in range(5):
    print("dss")

dss
dss
dss
dss
dss

# zip : 2개의 리스트를 key value 형태로 묶어주는 함수

In [3]:
subs = ["math", "korean", "science", "english"]
points = [100, 80, 90, 80]

g = {}

for idx in range(len(subs)):
    print(subs[idx], points[idx])
    g[subs[idx]] = points[idx]
g

math 100
korean 80
science 90
english 80

{'english': 80, 'korean': 80, 'math': 100, 'science': 90}

In [52]:
for sub, point in zip(subs, points):
    g[sub] = point
g

{'korean': 80, 'math': 100, 'science': 90}

In [54]:
dict(zip(subs, points))

{'korean': 80, 'math': 100, 'science': 90}

# enumerate : 리스트 데이터를 index와 value 동시에 사용하고 싶을때

In [69]:
ls = ["data", "dss", "science", "dss"]
# i = 0
for idx, value in enumerate(ls):
    print(idx, value)
#     print(i, value)
#     i += 1

0 data
1 dss
2 science
3 dss

In [73]:
subjects = ["korean", "english", "math", "science"]
dic={}
for idx, value in enumerate(subjects):
    dic[idx] = value
dic

{0: 'korean', 1: 'english', 2: 'math', 3: 'science'}

In [71]:
dss_idx = []
for idx, value in enumerate(ls):
    if value == "dss":
        dss_idx.append(idx)
    print(idx, value)
dss_idx

0 data
1 dss
2 science
3 dss

[1, 3]

In [74]:
# for 문을 이용해서 리스트안에 있는 모든 숫자를 더하는 코딩을 하세요.
ls = [1,3,5,7,9]
result = 0

# TODO
for num in ls :
    result += num
    
result

25

##### list comprehension
- 반복문의 결과를 한줄로 코딩하여 바로 리스트로 만들어 주는 방법, 간단한 list 데이터를 만들 때 for문보다 속도가 빠름(수식이 많으면 불가능)
```
ls = [<value> for <value> in <list>]
```

In [79]:
ls = []
for i in range(6):
    ls.append(i)
print(ls)

[0, 1, 2, 3, 4, 5]

In [81]:
ls2 = [i for i in range(6)]
ls2

[0, 1, 2, 3, 4, 5]

In [88]:
dis = [str(i)+":odd" if i%2 == 0 else str(i)+":even" for i in range(11)]
dis

['0:odd',
 '1:even',
 '2:odd',
 '3:even',
 '4:odd',
 '5:even',
 '6:odd',
 '7:even',
 '8:odd',
 '9:even',
 '10:odd']